html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
  background-color: white;
  color: white;
}

p,
 span {
  line-height: 1.4;
}

.sitecontainer {
  max-width: 960px;
  /* width: 100%; */
  margin: auto;
  /* margin-left: auto;
  margin-right: auto; */
}

/* ---- HEADER SECTION  ---- */
header {
  height: 31rem;
  width: 100%;
  padding-top: 1rem;
  /* display: flex;
  justify-content: center; */
}

.background01 {
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navcontainer {
  /* with this property navcontainer is not "centered" properly */
  /* width: 100%;  */
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlogocontainer {
  display: flex;
  align-items: center;
}
.navlogocontainer img {
  height: 1.50rem;
  width: auto;
}
.navlogocontainer span {
  margin-left: 1rem;
  font-size: 1rem;
}
.navcontainer nav {
  padding: 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navcontainer a {
  margin: 1rem 0 1rem 2rem;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.headerflexcontainer {
  max-width: 1032px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.headertextcontainer {
  margin-left: 2rem;
  margin-top: 10rem;
  /* margin-right: 2rem; */
  background-color: white;
  display: flex;
}

.headertextcontainer h1 {
  line-height: 1.2;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin: 1.5rem 5rem;
}

/* ---- CONTENT SECTION ---- */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentservice {
  margin-top: 3rem;
  display: flex;
}

.contentserviceitemcontainer{
  width: 5rem;
  max-height: 8rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contentserviceitemcontainer img {
  /* width: 3.5rem; */
  height: auto;
  /* display: block; */
  margin-bottom: 1rem;
}

.contentserviceitemcontainer .paperimg {
  width: 3.5rem;
}

.contentserviceitemcontainer .rulerimg {
  width: 4.5rem;
}

.contentserviceitemcontainer .truckimg {
  width: 4.5rem;
}

.contentserviceitemcontainer p {
  color: black;
  text-align: center;
}

.contentinfo {
  margin-top: 3rem;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.contentinfoitemcontainer {
  width: 35%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
}

.contentinfoitemcontainer .infoitemheader {
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  margin-bottom: 1rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.contentinfoitemcontainer p {
  /* width: 100%; */
  color: black;
}

/* ---- FOOTER SECTION ---- */
footer {
}

.footerlogocontainer {
  margin-top: 5rem;

  background-color: azure;
  padding: 4rem;

  color: black;
  display: flex;
  align-items: center;
}

.footerlogocontainer img {
  height: 1.5rem;
  width: auto;
}

.footerlogocontainer span {
  margin-left: 1rem;
}

/* ---- TABLET STYLE ---- */
@media only screen and (max-width: 1024px) {
  .sitecontainer {
    max-width: 100%;
    /* width: 100%; */
    margin: 0;
  }

  header {
    height: 22rem;
    padding-top: 0;
  }

  .headerflexcontainer {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .headertextcontainer {
    /* margin-left: 2rem; */
    margin-top: 5rem;
    margin-right: 2rem;
    background-color: white;
    display: flex;
  }

  .headertextcontainer h1 {
    line-height: 1.2;
    font-size: 1.33rem;
    font-weight: bold;
    color: black;
    margin: 0.75rem 4rem;
  }
}

/* ---- MOBILE STYLE ---- */
@media only screen and (max-width: 470px) {

}
